body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.starter-template table {
    margin-left: auto;
    margin-right: auto;
}

.starter-template td {
    text-align: left;
}

td.mandatory {
    font-weight: bold;
}
